{
    "$schema": "../schema.json",
    "version": "2",
    "name": "{{{scheme-slug}}}",
    "displayName": "{{{scheme-name}}}",
    "author": {
        "name": "{{{scheme-author}}}"
    },
    "shade0": "#{{{base00-hex}}}",
    "shade1": "#{{{base01-hex}}}",
    "shade2": "#{{{base02-hex}}}",
    "shade3": "#{{{base03-hex}}}",
    "shade4": "#{{{base04-hex}}}",
    "shade5": "#{{{base05-hex}}}",
    "shade6": "#{{{base06-hex}}}",
    "shade7": "#{{{base07-hex}}}",
    "accent0": "#{{{base08-hex}}}",
    "accent1": "#{{{base09-hex}}}",
    "accent2": "#{{{base0A-hex}}}",
    "accent3": "#{{{base0B-hex}}}",
    "accent4": "#{{{base0C-hex}}}",
    "accent5": "#{{{base0D-hex}}}",
    "accent6": "#{{{base0E-hex}}}",
    "accent7": "#{{{base0F-hex}}}"
}
